#blog_index {
    font-family:'Tahoma','Microsoft YaHei', 'SimHei', sans-serif;;
    font-size: 18px;
    width:630px;
    margin:auto;
    padding:40px;
    line-height: 150%;
    box-shadow: 0px 2px 3px 1px rgb(214, 210, 210);
    border-radius: 10px;
}
#logo {
    overflow:auto;
    zoom:1;
}
code {
    /*margin: 0 2px;*/
    /*padding: 0 5px;*/
    /*border: 1px solid #eaeaea;*/
    background-color: #f8f8f8;
    border-radius: 3px;
}
.language-text {
    background:none;
    padding:0;
    margin:0;
    border:0;
    border-radius:0;
}
pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 0.8em;
    line-height: 120%;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 1.5em;
    margin:0;
    border-bottom: 2px #F3F3F3 solid;
    padding:10px 0;
    color: DarkRed;
}
H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 1.6em;
    border-bottom: 1px LightGrey solid;
    line-height: 150%;
    color: DarkGreen;
}
H3 {
    font-size: 1.2em;
    margin:5px 0;
    line-height: 150%;
    color: DarkBlue;
}
H4 {
    font-size: 1em;
    margin:5px 0;
    line-height: 150%;
    color: DarkBlue;
}
li {
    margin-left: 5px;
}
.posts li {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(244, 240, 240);
}
.posts li span {
    color:rgb(54, 55, 56);
}
.posts li:hover {
    box-shadow: 1px 1px 4px 1px rgb(239, 238, 238);
    border-radius: 5px;
}
blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}
a {
    padding: 1px;
    color: rgb(16, 57, 103);
}
#home a {
    text-decoration: none;
}
hr {
    color: LightGrey;
}
ul {
    padding: 5px 5px 5px 20px;
    margin-bottom:0px;
}
ol {
    padding: 5px 5px 5px 30px;
}
#footer {
    border-top:1px solid #fff; 
    font-size:0.8em; 
    padding-bottom:1em; 
    padding-top:1em; color:#292f34; 
    text-shadow:1px 1px #adafb1;
    text-align:center;
}
#footer a {
    color:#292f34;
    border-bottom: 0px;
}
#footer p {text-align:center; margin-bottom:0; font-size:1em;}
#forkmeongithub img {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
#logo a{
    display: inline-block;
    z-index: 5;
    float: right;
}
.thumbnail {
    width: 160px;
    height: 130px;
}
.datetime {
    text-align:right;
    margin: 0;
}
nav  {
    width:692px;
    margin:45px auto 30px auto;
}
nav ul {
	list-style:none;
    overflow:auto;
    zoom:1;
    border-bottom: 1px solid rgba(211, 211, 211, 0.28);
    padding-bottom: 5px;
}
nav li {
    float:left;
	width:25%;
    font-size:1.2em;
	margin:0px;
	text-align:center;
    cursor: pointer;
    color:rgb(140, 62, 62);
    text-shadow: 0px 5px 3px rgb(188, 185, 178);
    padding: 5px 0;
}
nav li:hover{
      border-radius: 5px;
      background-color: rgba(207, 195, 195, 0.15);
}
img {
    width:100%;
}
.photo {
    width:60%;
    box-shadow: 0px 2px 3px rgb(210, 204, 204);
}
.photo-small {
    width:49%;
}
footer img {
    width:20px;
    height:20px;
}
.cartoon {
    width:30%;
}
.img-wrapper {
    text-align:center;
}
.img-wrapper img {
    width:60%;
}


