<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <nav>
            <ul>
                <li onclick="location.href='/'">HOME</li>
                <li onclick="location.href='/moment.html'">MOMENT</li>
                <li onclick="location.href='/cooking-in-life.html'">COOKING</li>
                <li onclick="location.href='/about.html'">ABOUT ME</li>
            </ul>
        </nav> 
        <div id="blog_index">
            <div id="logo">
                <a href="/rss.xml">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/rss_logo.jpg"/>
                </a>
                <a href="http://www.zhihu.com/people/kaiyi-zhang">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/zhihu_logo.jpg" />
                </a>
                <a href="http://7viirv.com1.z0.glb.clouddn.com/72A79BD422DF3B561F1AA7273C0305C9.png">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/wechat_logo.jpg"/>
                </a>
                <a href="http://weibo.com/kaiyiaiqianqian/profile">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/weibo_logo.jpg"/>
                </a>
                <a href="https://github.com/lucky7ky">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/github_logo.jpg"/>
                </a>
            </div>
            <div>
                {{content}}
            </div>
    </body>
</html>
