<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style-phone.css" media="screen and (max-device-width:480px)">
        <link rel="icon" href="http://images.yanyiwu.com/caticon.png" sizes="32x32">

    </head>
    <body>
        <nav>
        <ul>
            <li onclick="location.href='/'">HOME</li>
            <li onclick="location.href='/moment.html'">MOMENT</li>
            <li onclick="location.href='/cooking-in-life.html'">COOKING</li>
            <li onclick="location.href='/about.html'">ABOUT ME</li>
        </ul>
        </nav> 
        <div id="blog_index">
            <div id="logo">
                <a href="/rss.xml">
                    <img src="http://images.yanyiwu.com/rss_logo.jpg"/>
                </a>
                <a href="http://www.zhihu.com/people/kaiyi-zhang">
                    <img src="http://images.yanyiwu.com/zhihu_logo.jpg" />
                </a>
                <a href="http://images.yanyiwu.com/72A79BD422DF3B561F1AA7273C0305C9.png">
                    <img src="http://images.yanyiwu.com/wechat_logo.jpg"/>
                </a>
                <a href="http://weibo.com/kaiyiaiqianqian/profile">
                    <img src="http://images.yanyiwu.com/weibo_logo.jpg"/>
                </a>
                <a href="https://github.com/luckykaiyi">
                    <img src="http://images.yanyiwu.com/github_logo.jpg"/>
                </a>
            </div>
            <div>
                {{content}}
            </div>
<footer id="footer">
<a href="http://www.miitbeian.gov.cn/">京ICP备14020698号</a>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257748948'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1257748948%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
<!--
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254779561'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254779561%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
-->

</footer>
    </body>
</html>
