<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="wb:webmaster" content="f97b0cc1aaecb801" />

        <title>{{ page.title }}</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />-->

        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <nav>
            <ul>
                <li onclick="location.href='/'">HOME</li>
                <li onclick="location.href='/moment.html'">MOMENT</li>
                <li onclick="location.href='/cooking-in-life.html'">COOKING</li>
                <li onclick="location.href='/about.html'">ABOUT ME</li>
            </ul>
        </nav> 
        <div id="blog_index">
            <div id="logo">
                <a href="">
                    <img src="/img/rss_logo.jpg"/>
                </a>
                <a href="http:">
                    <img src="/img/zhihu_logo.jpg" />
                </a>
                <!--
                <a href="">
                    <img src="/img/twitter_logo.jpg"/>
                </a>
                <a href="">
                    <img src="/img/mail_logo.jpg"/>
                </a>
                <a href="">
                    <img src="/favicon.ico"/>
                </a>
                -->
                <a href="">
                    <img src="/img/wechat_logo.jpg"/>
                </a>
                <a href="">
                    <img src="/img/weibo_logo.jpg"/>
                </a>
                <a href="">
                    <img src="/img/github_logo.jpg"/>
                </a>
            </div>
            <div>
                {{content}}
            </div>
        <!--yanyi i love u so much-->
    </body>
</html>
